In [1]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_csv("us_suicide_rate_1999_2019.csv")

In [5]:
df.head(10)

,Sex,Race,State,Ethnicity,Age Group,First Year,Last Year,Cause of Death,Year,Deaths,Population,Crude Rate
0,Males,White,United States,Both,00-04 yrs,1999,2019,Suicide Injury,1999.0,0,7672039,0
1,Males,White,United States,Both,00-04 yrs,1999,2019,Suicide Injury,2000.0,0,7668849,0
2,Males,White,United States,Both,00-04 yrs,1999,2019,Suicide Injury,2001.0,0,7692909,0
3,Males,White,United States,Both,00-04 yrs,1999,2019,Suicide Injury,2002.0,0,7734142,0
4,Males,White,United States,Both,00-04 yrs,1999,2019,Suicide Injury,2003.0,0,7789123,0
5,Males,White,United States,Both,00-04 yrs,1999,2019,Suicide Injury,2004.0,0,7849026,0
6,Males,White,United States,Both,00-04 yrs,1999,2019,Suicide Injury,2005.0,0,7872962,0
7,Males,White,United States,Both,00-04 yrs,1999,2019,Suicide Injury,2006.0,0,7855811,0
8,Males,White,United States,Both,00-04 yrs,1999,2019,Suicide Injury,2007.0,0,7890604,0
9,Males,White,United States,Both,00-04 yrs,1999,2019,Suicide Injury,2008.0,0,7898165,0