# Mental health depression disorder (1990 - 2017)

In [1]:
import pandas as pd
import numpy as np

import seaborn as sns

In [2]:
df_raw=pd.read_csv("C:/Users/Lavoro/Desktop/Data/Mental health depression disorder.csv")
df=df_raw.copy()
df.head()

C:\Users\Lavoro\AppData\Local\Temp\ipykernel_7820\3815285848.py:1: DtypeWarning: Columns (5,6) have mixed types. Specify dtype option on import or set low_memory=False.
  df_raw=pd.read_csv("C:/Users/Lavoro/Desktop/Data/Mental health depression disorder.csv")

,index,Entity,Code,Year,Schizophrenia (%),Bipolar disorder (%),Eating disorders (%),Anxiety disorders (%),Drug use disorders (%),Depression (%),Alcohol use disorders (%)
0,0,Afghanistan,AFG,1990,0.16056,0.697779,0.101855,4.828830,1.677082,4.071831,0.672404
1,1,Afghanistan,AFG,1991,0.160312,0.697961,0.099313,4.829740,1.684746,4.079531,0.671768
2,2,Afghanistan,AFG,1992,0.160135,0.698107,0.096692,4.831108,1.694334,4.088358,0.670644
3,3,Afghanistan,AFG,1993,0.160037,0.698257,0.094336,4.830864,1.705320,4.096190,0.669738
4,4,Afghanistan,AFG,1994,0.160022,0.698469,0.092439,4.829423,1.716069,4.099582,0.669260

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108553 entries, 0 to 108552
Data columns (total 11 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   index                      108553 non-null  int64
 1   Entity                     108553 non-null  object
 2   Code                       103141 non-null  object
 3   Year                       108553 non-null  object
 4   Schizophrenia (%)          25875 non-null   object
 5   Bipolar disorder (%)       19406 non-null   object
 6   Eating disorders (%)       100236 non-null  object
 7   Anxiety disorders (%)      6468 non-null    float64
 8   Drug use disorders (%)     6468 non-null    float64
 9   Depression (%)             6468 non-null    float64
 10  Alcohol use disorders (%)  6468 non-null    float64
dtypes: float64(4), int64(1), object(6)
memory usage: 9.1+ MB

In [4]:
df.isnull().sum()

index                             0
Entity                            0
Code                           5412
Year                              0
Schizophrenia (%)             82678
Bipolar disorder (%)          89147
Eating disorders (%)           8317
Anxiety disorders (%)        102085
Drug use disorders (%)       102085
Depression (%)               102085
Alcohol use disorders (%)    102085
dtype: int64

In [7]:
# RINOMINO COLONNE
df = df.rename(columns={'Schizophrenia (%)': 'Schizophrenia','Bipolar disorder (%)': 'Bipolar disorder','Eating disorders (%)':'Eating disorders',
                        'Anxiety disorders (%)':'Anxiety disorders','Drug use disorders (%)':'Drug use disorders','Depression (%)':'Depression',
                        'Alcohol use disorders (%)':'Alcohol use disorders'})

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108553 entries, 0 to 108552
Data columns (total 11 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   index                  108553 non-null  int64
 1   Entity                 108553 non-null  object
 2   Code                   103141 non-null  object
 3   Year                   108553 non-null  object
 4   Schizophrenia          25875 non-null   object
 5   Bipolar disorder       19406 non-null   object
 6   Eating disorders       100236 non-null  object
 7   Anxiety disorders      6468 non-null    float64
 8   Drug use disorders     6468 non-null    float64
 9   Depression             6468 non-null    float64
 10  Alcohol use disorders  6468 non-null    float64
dtypes: float64(4), int64(1), object(6)
memory usage: 9.1+ MB

In [ ]:
from wordcloud import WordCloud
import numpy as np 
import pandas as pd
from sklearn.model_selection import train_test_split
!pip install neattext
import neattext.functions as nfx
import matplotlib.pyplot as plt
import plotly.express as plx
from sklearn.metrics import classification_report
import keras
from keras.layers import Embedding,Dense,LSTM,Bidirectional,GlobalMaxPooling1D,Input,Dropout
from keras.callbacks import EarlyStopping,ReduceLROnPlateau
from keras.models import Sequential
import
def clean_text(text):
    text_length=[]
    cleaned_text=[]
    for sent in tqdm(text):
        sent=sent.lower()
        sent=nfx.remove_special_characters(sent)
        sent=nfx.remove_stopwords(sent)
#         sent=nfx.remove_shortwords(sent)
        text_length.append(len(sent.split()))
        cleaned_text.append(sent)
    return cleaned_text,text_length
Silvia Dal Col10:35
import neattext.functions as nfx
Tu10:37
https://www.kaggle.com/datasets/thedevastator/uncover-global-trends-in-mental-health-disorder
Silvia Dal Col10:38
import re

string_with_numbers = "I have 3 apples and 2 bananas"
string_without_numbers = re.sub(r'\d+', '', string_with_numbers)
print(string_without_numbers) # "I have  apples and  bananas"

In [ ]:
from neattext.functions import remove_numbers

string_with_numbers = "I have 3 apples and 2 bananas"
string_without_numbers = remove_numbers(string_with_numbers)
print(string_without_numbers) # "I have apples and bananas"

In [ ]:
import neattext.functions as nfx

def clean_text(text):
    text_length=[]
    cleaned_text=[]
    for sent in tqdm(text):
        sent=sent.lower()
        sent=nfx.remove_special_characters(sent)
        sent=nfx.remove_stopwords(sent)
#         sent=nfx.remove_shortwords(sent)
        text_length.append(len(sent.split()))
        cleaned_text.append(sent)
    return cleaned_text,text_length