In [1]:
import pandas as pd
import numpy as np

from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [2]:
df_raw=pd.read_csv("Data\who_suicide_statistics.csv")
df=df_raw

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43776 entries, 0 to 43775
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   country      43776 non-null  object
 1   year         43776 non-null  int64
 2   sex          43776 non-null  object
 3   age          43776 non-null  object
 4   suicides_no  41520 non-null  float64
 5   population   38316 non-null  float64
dtypes: float64(2), int64(1), object(3)
memory usage: 2.0+ MB

In [4]:
# FILL NAN COLONNA SUICIDES CON "0"
df['suicides_no']=df['suicides_no'].fillna(0)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43776 entries, 0 to 43775
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   country      43776 non-null  object
 1   year         43776 non-null  int64
 2   sex          43776 non-null  object
 3   age          43776 non-null  object
 4   suicides_no  43776 non-null  float64
 5   population   38316 non-null  float64
dtypes: float64(2), int64(1), object(3)
memory usage: 2.0+ MB

In [6]:
df.head()

   country  year     sex          age  suicides_no  population
0  Albania  1985  female  15-24 years          0.0    277900.0
1  Albania  1985  female  25-34 years          0.0    246800.0
2  Albania  1985  female  35-54 years          0.0    267500.0
3  Albania  1985  female   5-14 years          0.0    298300.0
4  Albania  1985  female  55-74 years          0.0    138700.0

In [13]:
# ELIMINATI TUTTI I NAN
df=df.dropna()

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38316 entries, 0 to 43763
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   country      38316 non-null  object
 1   year         38316 non-null  int64
 2   sex          38316 non-null  object
 3   age          38316 non-null  object
 4   suicides_no  38316 non-null  float64
 5   population   38316 non-null  float64
dtypes: float64(2), int64(1), object(3)
memory usage: 2.0+ MB