# WHO Suicide Statistics (1985 - 2016)

In [2]:
import pandas as pd
import numpy as np

import seaborn as sns

from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [6]:
df_raw=pd.read_csv("C:/Users/Lavoro/Desktop/Data/WHO Suicide Statistics.csv")
df=df_raw

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43776 entries, 0 to 43775
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   country      43776 non-null  object
 1   year         43776 non-null  int64
 2   sex          43776 non-null  object
 3   age          43776 non-null  object
 4   suicides_no  41520 non-null  float64
 5   population   38316 non-null  float64
dtypes: float64(2), int64(1), object(3)
memory usage: 2.0+ MB

In [8]:
# FILL NAN COLONNA SUICIDES CON "0"
df['suicides_no']=df['suicides_no'].fillna(0)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43776 entries, 0 to 43775
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   country      43776 non-null  object
 1   year         43776 non-null  int64
 2   sex          43776 non-null  object
 3   age          43776 non-null  object
 4   suicides_no  43776 non-null  float64
 5   population   38316 non-null  float64
dtypes: float64(2), int64(1), object(3)
memory usage: 2.0+ MB

In [11]:
df.head()

   country  year     sex          age  suicides_no  population
0  Albania  1985  female  15-24 years          0.0    277900.0
1  Albania  1985  female  25-34 years          0.0    246800.0
2  Albania  1985  female  35-54 years          0.0    267500.0
3  Albania  1985  female   5-14 years          0.0    298300.0
4  Albania  1985  female  55-74 years          0.0    138700.0

In [13]:
# ELIMINATI TUTTI I NAN
df=df.dropna()

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38316 entries, 0 to 43763
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   country      38316 non-null  object
 1   year         38316 non-null  int64
 2   sex          38316 non-null  object
 3   age          38316 non-null  object
 4   suicides_no  38316 non-null  float64
 5   population   38316 non-null  float64
dtypes: float64(2), int64(1), object(3)
memory usage: 2.0+ MB

In [40]:
df.suicides_no=df.suicides_no.astype(int)
df.population=df.population.astype(int)
df["year"]=pd.to_datetime(df["year"], format="%Y")

C:\Users\Lavoro\AppData\Local\Temp\ipykernel_23112\1810510777.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.suicides_no=df.suicides_no.astype(int)
C:\Users\Lavoro\AppData\Local\Temp\ipykernel_23112\1810510777.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.population=df.population.astype(int)
C:\Users\Lavoro\AppData\Local\Temp\ipykernel_23112\1810510777.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["year"]=pd.to_datetime(df["year"], format="%Y")

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38316 entries, 0 to 43763
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   country      38316 non-null  object
 1   year         38316 non-null  datetime64[ns]
 2   sex          38316 non-null  object
 3   age          38316 non-null  object
 4   suicides_no  38316 non-null  int32
 5   population   38316 non-null  int32
dtypes: datetime64[ns](1), int32(2), object(3)
memory usage: 1.8+ MB

In [61]:
df
# DA DECIDERE SE MANTENERE LA DICITURA "YEAR"

,country,year,sex,age,suicides_no,population
0,Albania,1985-01-01,female,15-24 years,0,277900
1,Albania,1985-01-01,female,25-34 years,0,246800
2,Albania,1985-01-01,female,35-54 years,0,267500
3,Albania,1985-01-01,female,5-14 years,0,298300
4,Albania,1985-01-01,female,55-74 years,0,138700
...,...,...,...,...,...,...
43759,Virgin Islands (USA),2015-01-01,male,25-34 years,2,4609
43760,Virgin Islands (USA),2015-01-01,male,35-54 years,1,12516
43761,Virgin Islands (USA),2015-01-01,male,5-14 years,0,7291
43762,Virgin Islands (USA),2015-01-01,male,55-74 years,0,12615
43763,Virgin Islands (USA),2015-01-01,male,75+ years,0,2496